.app {
  background: linear-gradient(
    to bottom right,
    rgba(39, 247, 39, 0.771),
    rgba(249, 102, 17, 0.74)
  );
  min-height: 100vh;
}
.hr {
  /* position: relative; */
  /* border: none; */
  height: 5px;
  background: black;
}
